body#layout #main-wrapper{width:70%;float:left}
body#layout #sidebar-right{width:30%;left:0;padding:0;float:right}
body#layout textarea,body#layout ul,body#layout li, body#layout span.contact-form-email, body#layout span.contact-form-name {display: none;}
